@font-face {
    font-family: "Bantayog";
    src: url("/font-family/Bantayog-Regular.woff2");
}
/* top, right, bottom, left */
main {
    padding: 125px 0px 0px 0px;
    font-family: "Bantayog";
    text-align: justify;
}

.DIV_button {
    bottom: 0;
    right: 0;
    position: fixed;
}

.DIV_button button {
    width: 150px;
    height: 150px;
    font-size: xx-large;
    position: relative; 
    display: inline-block;
    border: none;
    background: url('/img/flower.png') no-repeat center; 
    background-size: cover; 
    padding-right: 25px;
}

.DIV_button button:hover {
    background: url('/img/flower.png') no-repeat center; 
    background-size: cover; 
    position: relative; 
    display: inline-block;
}

/*  */
.IMG_BG {
    width: 100%;
    height: 100hv;
}

.DIV_S1 {
    background: url("/BG/actBG.png");
    width: 100%;
    display: flex;
    align-items: center; /*X*/
    flex-direction: column;
    margin: -30px 0px 0px 0px;
}

.DIV_S2 {
    width: 90%; 
    display: flex;
    align-items: center; 
    flex-direction: column;
    padding: 0px;
}


.DIV_S3 p {
    padding: 50px 0px 30px 0px;
    font-size: 150%;
    margin: 0;
    align-self: flex-start;
}

.DIV_S3 div {
    display: flex;
    padding: 0px 0px;
    align-self: flex-start;
}

.DIV_S3 img {
    width: 100px;
}

.DIV_showPic {
    display: flex;
    margin: 10px 0px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.581);
    align-items: center; 
    justify-content: space-evenly;
}

.DIV_showPic img {
    margin: 0;
    margin: 0 8px;
    background-color: rgba(255, 255, 255, 0.536);
    border-radius: 20px;
    width: 200px;
}

.DIV_actInfo {
    padding: 20px 0px;
}

.DIV_actInfo p {
    padding: 10px 0;
}
