@font-face {
    font-family: 'Blueberry';
    src: url('/font-family/Blueberry.ttf');
}

@font-face {
    font-family: "Bantayog";
    src: url("/font-family/Bantayog-Regular.woff2");
}

body {
    display: flex;
    align-items: center; /*X*/
    justify-content: center;
    flex-direction: column;
    background-image: url("/BG/profileBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    background-clip: content-box;
    min-height: 100vh;
    height: max-content;
    flex-wrap: wrap;
    align-content: center;
}

img {
    height: 170px;
}


.DIV_changePassword h1 {
    text-align: justify;
    font-size: 30px;
    font-family: 'Bantayog';
}

.DIV_changePassword {
    border: 1px solid black;
    border-radius: 15px;
    width: max-content;
    margin-top: 20px;
    padding: 10px 80px 30px 80px;
    background-color: rgb(255, 255, 255, 0.5);
}

input {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    font-family: Century Gothic;
    padding: 0 10px;
}

.DIV_changePassword button {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    /* font-family: Century Gothic; */
    font-family: "Bantayog";
    font-size: larger;
    font-weight: 1000;
    background-color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

.DIV_changePassword button:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border: none;
}

.DIV_changePassword button:active {
    background-color: rgba(255, 255, 255, 0.507);
}

#p_message {
    visibility: hidden;
    padding-bottom: 10px;
    font-family: Century Gothic;
}

.DIV_BTNss {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}
