@font-face {
    font-family: 'Blueberry';
    src: url('/font-family/Blueberry.ttf');
}

@font-face {
    font-family: "Bantayog";
    src: url("/font-family/Bantayog-Regular.woff2");
}

main {
    background: url("/BG/aboutBG2.png") no-repeat center;
    background-size: cover;
    background-clip: content-box;
    font-family: "Bantayog";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    min-height: 100vh;
    height: max-content;
    padding-top: 125px;
}

/* faq */
#DIV_faq h1 {
    font-family: 'Blueberry';
    text-align: center;
}

.DIV_section {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.438);
    width: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.faq_a {
    text-align: justify;
    display: none;
    position: relative;
    text-decoration: underline;
}

.li_faq {
    text-align: justify;
}

#DIV_faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DIV_faqSection {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}