@font-face {
    font-family: 'Blueberry';
    src: url('/font-family/Blueberry.ttf');
}

main {
    padding-top: 125px;
    font-family: 'Comic Sans MS', cursive;
}

/*  */
.DIV_homeTitle {
    background: url("/BG/home.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    /* vh = viewport height */
}

/*  */

.DIV_homeWelcome {
    display: flex;
    justify-content: center; /*Y*/
    align-items: center; /*X*/
    flex-direction: column;
    background: url("/BG/homeBG2.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.h_homeWelcome {
    font-family: 'Blueberry';
    text-align: center;
}

.p_child {
    text-align: center;
    width: 800px;
}

.p_homeWelcome {
    text-align: justify;
}

/*  */
.DIV_homeAct {
    display: flex;
    align-items: center; /*X*/
    flex-direction: column;
    background: url("/BG/homeBG.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.h_homeAct {
    text-align: center;
    font-size: 400%;
    font-family: 'Blueberry';
}

.h_homeMRG {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.DIV_homeAct1 {
    display: flex;
    text-align: center;
    margin: 0;
    width: 750px;
}

.DIV_homeMRG {
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.536);
    border-radius: 20px;
}

.IMG_homeMRG {
    border-radius: 10px;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
}

.BTN_homeBTN {
    width: 195px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(128, 128, 128, 0.589);
    font-family: 'Comic Sans MS', cursive;
}

/*  */
.DIV_homeReview {
    display: flex;
    align-items: center; /*X*/
    justify-content: center;
    flex-direction: column;
    background: url("/BG/reviewBG.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.DIV_reviewParent {
    text-align: center;
}

.p_homeReview {
    text-align: justify;
    width: 600px;
    margin: auto;
    padding-top: 30px;
}

/*  */
.DIV_homeFooter {
    display: flex;
    align-items: center; /*X*/
    justify-content: center;
    flex-direction: column;
    background: url("/BG/footerBG.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.DIV_footerParent {
    height: 60%;
}

.p_homeFooter {
    width: 500px;
    text-align: justify;
    padding-bottom: 50px;
    font-size: smaller;
    margin: 0;
}

.DIV_homeLogoss {
    display: flex;
    width: 600px;
}

.DIV_homeSocialMediaLogo {
    right: 0;
    margin: auto;
    margin-right: 0;
}

.DIV_homeAPUlogo {
    left: 0;
    margin: auto;
    margin-left: 0;
}

.IMG_footerLogo {
    width: 30%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.DIV_footerF {
    text-align: justify;
    padding-left: 10px;
}

.DIV_homePrivacy {
    display: flex;
    justify-content: center;
    margin: 0;
}

.DIV_footerABC {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    text-align: justify;
    font-size: smaller;
}

.IMG_footerSocialMedia {
    padding-left: 5px;
    padding-right: 5px;
    width: 30px;
}