@font-face {
        font-family: "Bantayog";
        src: url("/font-family/Bantayog-Regular.woff2");
}

body {
        margin: auto;
        background: url(/BG/SignLogBG.png) no-repeat center;
        background-size: cover;
        background-clip: content-box;
        font-family: Century Gothic;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        height: max-content;
        flex-wrap: wrap;
        align-content: center;
}

img {
        height: 170px;
}

h1 {
        text-align: justify;
        font-size: 30px;
        font-family: 'Bantayog';
}

main {
        border: 1px solid black;
        border-radius: 15px;
        width: max-content;
        padding: 10px 80px;
        background-color: rgb(255, 255, 255, 0.5);
}

input {
        border: 1px solid black;
        border-radius: 5px;
        height: 30px;
        width: 200px;
        font-family: Century Gothic;
        padding-left: 10px;
        padding-right: 10px;
}

button {
        border: 1px solid black;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        font-family: "Bantayog";
        font-size: larger;
        font-weight: 1000;
        background-color: rgba(255, 255, 255, 0.507);
        cursor: pointer;
}

button:hover {
        background-color: rgba(128, 128, 128, 0.507);
        border: none;
}

button:active {
        background-color: rgba(255, 255, 255, 0.507);
}

#p_message {
        visibility: hidden;
        padding-bottom: 10px;
        font-family: Century Gothic;
}

a {
        text-decoration: underline;
}

.DIV_buttonsss {
        display: flex;
        justify-content: space-between;
}