body {
    display: flex;
    align-items: center; /*X*/
    justify-content: center;
    flex-direction: column;
    background-image: url("/BG/profileBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
    background-clip: content-box;
    min-height: 100vh;
    height: max-content;
}

.DIV_profile {
    width: 600px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}

img {
    height: 170px;
}

.DIV_profile img {
    height: 200px;
    width: 200px;
}

.DIV_profilePic, .DIV_userName, .DIV_tpNcontact, .DIV_email, .DIV_changePass {
    text-align: center;
    padding: 0 0 40px 0;
}

.DIV_tpNcontact {
    display: flex;
}

.DIV_TPnumber {
    position: relative;
    flex: 1;
    margin-left: auto;
}

.DIV_contact {
    position: relative;
    flex: 1;
    margin-right: auto;
}

.DIV_changePass a {
    text-decoration: underline;
    color: black;
}

.DIV_changePass {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.DIV_profile button {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    /* font-family: Century Gothic; */
    font-family: "Bantayog";
    font-size: larger;
    font-weight: 1000;
    background-color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

.DIV_profile button:hover {
    background-color: rgba(128, 128, 128, 0.507);
    border: none;
}

.DIV_profile button:active {
    background-color: rgba(255, 255, 255, 0.507);
}

#p_message {
    visibility: hidden;
    padding-bottom: 10px;
    font-family: Century Gothic;
}