@font-face {
    font-family: "Bantayog";
    src: url("/font-family/Bantayog-Regular.woff2");
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    font-family: "Bantayog";
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

button:hover, #BTN_log:hover {
    background-color: rgb(191,226,255);
    border: none;
}

header {
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: 1000;
    background-color: white;
}

.DIV_headerLeft {
    left: 0;
    padding-left: 25px;
}

.DIV_headerMiddle {
    text-align: center;
    font-size: x-large;
}

#BTN_home, #BTN_log, #BTN_act, #BTN_about {
    background-color: transparent;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    width: 150px;
}

.DIV_dropContent {
    position: relative;
    display: inline-block;
}

.DIV_DRPcontent {
    display: none;
    position: absolute;
    padding-left: 75px;
    z-index: 1;
    margin: 0;
    background-color: transparent;
}

.DIV_DRPcontent a {
    display: block;
    text-align: left;
    font-size: medium;
    margin: 0;
    padding: 2px;
}

.DIV_dropContent:hover .DIV_DRPcontent {
    display: block;
}

.DIV_DRPcontent button {
    width: 150px;
    border-radius: 0px;
}

.DIV_headerRight {
    right: 0;
}

#BTN_headerRight {
    width: 155px;
    height: 100px;
    font-size: xx-large;
    background-image: url(/img/button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
    display: inline-block;
    background-color: transparent;
    border: none;
}

#BTN_headerRight:hover {
    background-image: url("/img/button hover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
    display: inline-block;
    background-color: transparent;
}
