body {
        margin: 0;
        padding: 0;
        font-family: Century Gothic;
        margin: auto;
        text-align: justify;
        background-image: url("AboutUsBG.png");
        margin-left: 100px;
        padding-right: 300px;
}

#content {
        margin-left: 20px;
}

/* faq.html */
.DIV_faqSection {
        width: 600px;
        text-align: center;
        margin: auto;
}

#h_mission {
        font-size: 400%;
}

#h_about {
        font-size: 400%;
}

#h_values {
        font-size: 300%;
}
    
.faq_a {
        margin: auto;
        text-align: justify;
        display: none;
}
    
.li_faq {
        text-align: justify;
}
    
#DIV_faq {
        padding-bottom: 50px;
        padding-top: 50px;
}
    
/* about_us.html */
/* about_us */


/* contact_us */
#DIV_contact {
        padding-top: 100px;
        padding-bottom: 50px;
}
    
.DIV_CgeneralNclub, .DIV_CvisitNoffice {
        display: flex;
}
    
.DIV_Cgeneral, .DIV_Cvisit, .DIV_Cclub, .DIV_Coffice {
        position: relative;
        flex: 1;
}
    
.DIV_Cclub, .DIV_Coffice {
        margin-right: auto; 
}
    
.DIV_Cgeneral, .DIV_Cvisit {
        margin-left: auto; 
}
    
    