body {
        margin: 0;
        padding: 0;
        font-family: Century Gothic;
        margin: auto;
        text-align: justify;
        background-image: url(BACKGROUND.png);
}

/* faq.html */
.DIV_faqSection {
        width: 600px;
        text-align: center;
        margin: auto;
}

#h_mission {
        font-family: Copperplate Gothic;
}
    
.faq_a {
        margin: auto;
        text-align: justify;
        display: none;
}
    
.li_faq {
        text-align: justify;
}
    
#DIV_faq {
        padding-bottom: 50px;
        padding-top: 50px;
}
    
/* about_us.html */
/* about_us */
#DIV_about {
        text-align: center;
        padding-bottom: 100px;
}

.DIV_aboutWhats {
        margin-left: 60px;
        margin-right: 60px;
        text-align: justify;
}
    
.p_about {
        text-align: justify;
        width: 500px;
        margin: auto;
}
    
.h_what {
        text-align: justify;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 175px;
}
    
.li_about {
        text-align: justify;
        margin-left: 30px;
}
    
.DIV_aboutGet {
        margin-left: 90px;
        margin-right: 90px;
        text-align: justify;
}

/* contact_us */
#DIV_contact {
        margin-left: 20px;
        padding-top: 100px;
        padding-bottom: 50px;
}
    
.DIV_CgeneralNclub, .DIV_CvisitNoffice {
        display: flex;
}
    
.DIV_Cgeneral, .DIV_Cvisit, .DIV_Cclub, .DIV_Coffice {
        position: relative;
        flex: 1;
}
    
.DIV_Cclub, .DIV_Coffice {
        margin-right: auto; 
}
    
.DIV_Cgeneral, .DIV_Cvisit {
        margin-left: auto; 
}
    
    