main {
    padding-top: 125px;
    background-image: url("profileBG.png");
    background-size: 100%;
    padding: 300px;
    padding-bottom: 200px;
}

.DIV_profile {
    width: 600px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: auto;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}

.DIV_profilePic, .DIV_userName, .DIV_tpNcontact, .DIV_email, .DIV_changePass {
    text-align: center;
}

.DIV_tpNcontact {
    display: flex;
}

.DIV_TPnumber {
    position: relative;
    flex: 1;
    margin-left: auto;
}


.DIV_contact {
    position: relative;
    flex: 1;
    margin-right: auto;
}

a {
    text-decoration: underline;
    color: black;
}