body {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive;
    margin: auto;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    cursor: pointer;
    font-family: 'Comic Sans MS', cursive;
    background-color: white;
}

button:hover, #BTN_log:hover {
    background-color: rgb(207, 207, 207);
    border: none;
}
/* header */
* {
    box-sizing: border-box;
}

.DIV_stickyHeader {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    z-index: 1000;
    background-color: white;
}

.DIV_headerLeft {
    left: 0;
    padding-left: 25px;
}

.DIV_headerMiddle {
    text-align: center;
    font-size: x-large;
}

.BTN_home, #BTN_log, .BTN_DRP {
    background-color: transparent;
    font-size: x-large;
    margin-left: 50px;
    margin-right: 50px;
}

.DIV_dropContent {
    position: relative;
    display: inline-block;
}

.DIV_DRPcontent {
    display: none;
    position: absolute;
    padding-left: 75px;
    z-index: 1;
    font-size: small;
}

.DIV_DRPcontent a {
    display: block;
    text-align: right;
}

.DIV_dropContent:hover .DIV_DRPcontent {
    display: block;
}

.DIV_headerRight {
    right: 0;
}

#BTN_headerRight {
    width: 150px;
    height: 100px;
    font-size: xx-large;
    background-image: url("#");
    background-repeat: no-repeat;
    background-size: cover;
}

#BTN_headerRight:hover {
    background-image: url("#");
}

/**/
#content {
    margin-top: 200px;
}